# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# Env
.env

# OS / IDE
.DS_Store
.vscode/
.idea/

# Data (si tu as des exports locaux)
data/
*.csv
*.parquet
*.db
